    <html>
        <head>
            <style type ="text/css">
                body {background-image: url("img/bk.jpg");}
                #submit {text-align: center;}
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    background-color: pink;
                }
                
                li {
                    float: left;
                }
                
                li a, .dropbtn {
                    display: inline-block;
                    color: black;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
                
                li a:hover, .dropdown:hover .dropbtn {
                    background-color: white;
                }
                
                li.dropdown {
                    display: inline-block;
                }
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color:#f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }
                
                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }
                
                .dropdown-content a:hover {background-color:#FFFFFF}
                
                .dropdown:hover .dropdown-content {
                    display: block;
                }
                .a {border: 2px solid gray;
                margin: 10px;
                text-align: center;
                    width: 1000px;
                }
            </style>
        </head>
     

    <div class="a">
     <h3>중요 공지사항</h3>
     <p>
        1. 이 동행 모집은 함께 여행하고자 하는 여행자들을 도와 그들에게 편의를 제공할 목적으로 운영되고 있음.<br><br>
        2. 다행의 역할은 단톡방을 개설해 동행의지가 있는 여행자들을 서로 연결해주고 동행에 도움이 되는 정보를 제공하는 것임.<br><br>
        3. 단톡방의 대화와 실제 동행과정에 대해 다행은 일체관여하지 않으며 때문에 그 과정에서 발생하는 일에 책임을 지지 않음.<br><br>
        4. 개인정보는 모집완료후 2개월이내에 삭제됨. <br><br>
        5. 접수할 경우, 위의 내용들에 대해 모두 동의한 것으로 간주함. <br>
    </p>
</div>


    <table class="table">
  <tr>
    <th>Title</th>
 
    <th>Content</th>
    <th>Date</th>
  </tr>
 
  <% @togethers.each do |together| %>
    <tr>
      
      <td><%= together.title2 %></td>
  
      <td><%= together.content2%></td>
      <td><%= together.date2%></td>


      
    </tr>
  <% end %>
</table>
    </body>