      <html>
      <head>
            <style type ="text/css">
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    background-color: pink;
                }
                
                li {
                    float: left;
                }
                
                li a, .dropbtn {
                    display: inline-block;
                    color: black;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
                
                li a:hover, .dropdown:hover .dropbtn {
                    background-color: white;
                }
                
                li.dropdown {
                    display: inline-block;
                }
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color:#f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }
                
                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }
                
                .dropdown-content a:hover {background-color:#FFFFFF}
                
                .dropdown:hover .dropdown-content {
                    display: block;
                }
     </style>
     </head>
     <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/home/safety">Safety</a></li>
  <li><a href="/home/together">Together</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Review</a>
    <div class="dropdown-content">
      <a href="/home/review_new">리뷰 쓰기</a>
      <a href="#">유의사항</a>
    </div>
    </ul>
    
  <form action="/home/review_create" method="post" enctype="multipart/form-data">
    <%=hidden_field_tag :authenticity_token, form_authenticity_token %>
      
      <center><br> 여행 별점 매기기<br><br>
        <label class="radio-inline"><input type="radio" name="score" value = 1>1점</label>
        <label class="radio-inline"><input type="radio" name="score" value = 2>2점</label>
        <label class="radio-inline"><input type="radio" name="score" value = 3>3점</label>
        <label class="radio-inline"><input type="radio" name="score" value = 4>4점</label>
        <label class="radio-inline"><input type="radio" name="score" value = 5>5점</label> 
 
        <h1 class="title">제목</h1>
        <textarea name="post_title" rows="2" cols="100" class="form-control2" id="exampleFormControlTextarea1"> </textarea><br><br>
        <h1 class="title">내용</h1>
        <textarea name="post_content" rows="20" cols="100" class="form-control3" id="exampleFormControlTextarea1"></textarea><br><br>
        <h1 class="title">날짜</h1>
        <input type="date" name="post_date" rows="2" cols="100" class="form-control2" id="exampleFormControlTextarea1"> </input><br><br>

        <h1 class="title">작성자</h1>
        <textarea name="post_title" rows="2" cols="100" class="form-control2" id="exampleFormControlTextarea1"> </textarea><br><br>  


        <input type='submit' class="submit_btn" value='제출'>
  </form>



  </center>
