#임시로 profile 표시
                <img src="/img/map.png" style="width:1000px; height: 600px; margin-left: -80px; margin-right: 10px;"></img>

<table class="type07">
    <thead>
    <tr>
        <th scope="cols">항목</th>
        <th scope="cols">내용</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">이름</th>
        <td><%=@user.name%></td>
    </tr>
    <tr>
        <th scope="row">생일</th>
        <td><%=@user.birthday%></td>
    </tr>
    <tr>
        <th scope="row">성별</th>
        <td><%=@user.gender%></td>
    </tr>
    <tr>
        <th scope="row">이메일</th>
        <td><%=@user.email%></td>
    </tr>
    </tbody>
</table>

